*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(());

}
.outer-box
{  
   width:100vw;
   height:100vh;
   background-color: #1a1a1a;
   background: radial-gradient(circle at center,#1a1546,#040411 40%);
}
.inner-box{
    width:400px;
    padding:20px 40px;
    margin:0 auto;
    position:relative;
    top:50%;
    transform:translatey(-50%);
    background-color: #ffffffcc;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 4px 4px 5px #2773a5;
    z-index: 2;

}



.signup-header h1{
    font-size: 2.5rem;
    color: #212122;
}
.signup-header p{
    font-size: 0.8rem;
    color:#555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin:10px 0;
}
.signup-body label{
    display:block;
    font-weight:bold;

}
.signup-body p input{
    width:100%;
   // padding:10px;
    border:2px solid #cccc;
    border-radius:4px;
    font-size:1rem;
}
.signup-body p input[type="submit"]{
background-color: #3489d3;
border:none;
height:30px;
color:white;
cursor:pointer;

}
.signup-body p input[type="submit"]:hover{
    background-color: #044f91;
}
.signup-footer p {
    color:#555;
    text-align : center ;
}
.signup-footer p a{
    color:blue;
}
.circle{
    width:200px;
    height:200px;
    border-radius:100px;
    background:linear-gradient(to right,#ffffff33,#ffffff);
    position:absolute;
}
.c1{
    top:100px;
    left:40px;
}
.c2{
    top:200px;
    left:1000px;
}



 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100%;
  perspective: 1000px;

