<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="icon" href="{{url_for('static',filename='css/android-chrome-192x192.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/new.css')}}">
    

</head>

  <body>

    <div class="outer-box" style='display:flex; align-items: center; justify-content: center; background-image:url({{url_for('static',filename='css/machine-learning1.png')}}); background-size:50%;'>
     
      <div class="circle c1" >
      
        <h3>
          <span><a href="/ogin" target=_blank>Login</a></span>
         
          </h3>
         

      </div>
    </div>
  
  
  </body>


</body>
</html>